/* Tus estilos globales opcionales */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.large-button {
    width: 298px;        /* MAS ANCHO  */
    height: 42px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    justify-content: center;
}

/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.error-text {
    color: #ff0000;
    font-size: 1rem;
    margin-top: -15px;
    margin-bottom: 15px;
}
